@using MVCFilmTicketStore.DataTypes.Enums;
@model MVCFilmTicketStore.ViewModels.DirectorSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form asp-controller="Directors" asp-action="Index" method="get">
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Profile Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directors[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directors[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directors[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directors[0].Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Directors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @if (item.ProfilePictureUrl != null)
                    {
                        <img src="~/files_images/@FolderType.PROFILE_PICTURES_DIRECTORS.ToString()/@item.ProfilePictureUrl" height="300px" width="300px" asp-append-version="true" />
                    }
                    else
                    {
                        <img src="~/files_images/no_picture_found.jpg" height="300px" width="300px" asp-append-version="true" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
                    {
                        <button class="btn btn-success"><a style="text-decoration: none; color: white" asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
                    }
                    <button class="btn btn-info"><a style="text-decoration: none; color: white" asp-action="Details" asp-route-id="@item.Id">Details</a></button>
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
                    {
                        <button class="btn btn-danger"><a style="text-decoration: none; color: white" asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
