@model MVCFilmTicketStore.Models.Theater

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Theater</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllSeatsNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllSeatsNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllRows)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllRows)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllColumns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllColumns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheaterPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheaterPicture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
