@model MVCFilmTicketStore.Models.Film
@using MVCFilmTicketStore.DataTypes.Enums;
@using MVCFilmTicketStore.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<MVCFilmTicketStoreUser> SignInManager
@inject UserManager<MVCFilmTicketStoreUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poster)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Poster != null)
                {
                    <img src="~/files_images/@FolderType.POSTERS.ToString()/@Model.Poster" height="300px" width="190px" asp-append-version="true" />
                }
                else
                {
                    <img src="~/files_images/no_picture_found.png" height="300px" width="190px" asp-append-version="true" />
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilmDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilmDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Decription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Decription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DownloadPosterUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DownloadPosterUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class="col-sm-10">
            @if (Model.DirectorId != null)
            {
                <a asp-controller="Directors" asp-action="Details" asp-route-id="@Model.DirectorId">@Html.DisplayFor(model => model.Director.FullName)</a>
            }
        </dd>
        <dt class="col-sm-2">
            Actors
        </dt>
        <dd class="col-sm-10">
            @foreach (var actor in Model.ActorFilms)
            {
                <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId">
                    @actor.Actor.FullName
                </a> <br />
            }
        </dd>
        <dt class="col-sm-2">
            Average Rating
        </dt>
        @{
            var averageRating = Model.Reviews?.Count > 0 ? Model.Reviews.Average(r => r.Rating) : 0;
            if (averageRating == 0)
            {
                <dd class="col-sm-10">No Reviews.</dd>
            }
            else
            {
                <dd class="col-sm-10">@Math.Round((decimal)averageRating, 2, MidpointRounding.AwayFromZero)</dd>
            }
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reviews)
        </dt>
        @if (Model.Reviews?.Count == 0)
        {
            <dd class="col-sm-10">No reviews.</dd>
        }
        else
        {
            @foreach (var review in Model.Reviews)
            {
                <hr />
                <dd class="col-sm-10">
                    <strong>@review.AppUser: </strong>@review.Comment
                    <br>
                    <strong>Rating: </strong> @review.Rating
                </dd>
            }
        }
    </dl>
</div>
<div>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <button class="btn btn-success"><a style="text-decoration: none; color: white" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a></button>
        <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
