@using MVCFilmTicketStore.DataTypes.Enums;
@model IEnumerable<Film>

@{
    ViewData["Title"] = "Index";
}

<h1 class="justify-content-center" style="text-align: center">
    Films program of our Cinema
</h1>

<div class="container border border-5 border-secondary">
    @foreach (var item in Model)
    {
        <div class="container border border-5 border-secondary">
            <h4 class="d-flex justify-content-center fw-bold fst-italic text-uppercase" style="margin: 30px">
                @Html.DisplayFor(modelItem => item.Title)
            </h4>
            <div class="d-flex" style="justify-content:space-between">
                @* justify-content-center *@

                <div class="d-flex justify-content-center" style="flex-direction: column">
                    @if (item.Director.ProfilePictureUrl != null)
                    {
                        <a asp-controller="Directors" asp-action="Details" asp-route-id="@item.DirectorId" style="text-decoration: none">
                            <img src="~/files_images/@FolderType.PROFILE_PICTURES_DIRECTORS.ToString()/@item.Director.ProfilePictureUrl" height="150px" width="150px" style="border-radius: 50%; border:medium solid black; display: inline-block;" asp-append-version="true" />
                        </a>
                    }
                    else
                    {
                        <img src="~/files_images/no_picture_found.jpg" height="150px" width="150px" style="border-radius: 50%; border:medium solid black; display: inline-block;" asp-append-version="true" />
                    }
                </div>


                <div class="d-flex justify-content-center" style="flex-grow: 4">
                    @if (item.Poster != null)
                    {

                        <img src="~/files_images/@FolderType.POSTERS.ToString()/@item.Poster" style="border:solid" height="400px" width="300px" asp-append-version="true" />

                    }
                    else
                    {
                        <img src="~/files_images/no_picture_found.jpg" height="400px" width="300px" asp-append-version="true" />
                    }
                </div>


                <div class="d-flex justify-content-center" style="flex-direction: column">
                    @foreach (var actor in item.ActorFilms)
                    {
                        @if (actor.Actor.ProfilePictureUrl != null)
                        {
                            <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId" style="text-decoration: none">
                                <img src="~/files_images/@FolderType.PROFILE_PICTURES_ACTORS.ToString()/@actor.Actor.ProfilePictureUrl" height="150px" width="150px" style="border-radius: 50%; border:medium solid black; display: inline-block;" asp-append-version="true" />
                            </a>
                        }
                        else
                        {
                            <img src="~/files_images/no_picture_found.jpg" height="150px" width="150px" style="border-radius: 50%; border:medium solid black; display: inline-block;" asp-append-version="true" />
                        }
                    }
                </div>
            </div>

            <div class="d-flex">
                <h5>@Html.DisplayNameFor(modelItem => item.Projections):</h5>
            </div>
            <div class="d-flex flex-row">
                @if (item.Projections == null || item.Projections.Count == 0)
                {
                    <div class="p-2">No projections!</div>
                }
                else
                {
                    @foreach (var projection in item.Projections)
                    {
                        <div class="p-2 flex-column border border-3 border border-secondary" style="margin: 5px">
                            <div>
                                Theater: <em>@projection.Theater.Name</em>
                            </div>
                            <div>
                                Time: <em>@projection.ProjectionTime</em>
                            </div>
                            <div>
                                3D:
                                @if (projection.Is3D)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none" /><path d="M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" /></svg>

                                }
                                else
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none" /><path d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" /></svg>
                                }
                            </div>
                            <div>
                                Price/Ticket: <em>@projection.Price €</em>
                            </div>

                            @if (@projection.FreeSeatsNum > 0 && User.Identity.IsAuthenticated && User.IsInRole("User"))
                            {
                                <form asp-controller="Tickets" asp-action="BuyTicketGet" asp-route-projectionId="@projection.Id">
                                    <button style="margin-top: 10px" type="submit" class="btn btn-success position-relative">
                                        Get Tickets<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                                            @projection.FreeSeatsNum
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <button disabled style="margin-top: 10px" type="submit" class="btn btn-danger position-relative">
                                    Get Tickets<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                                        @projection.FreeSeatsNum
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </button>
                            }

                        </div>
                    }
                }
            </div>
        </div>
    }
</div>
