@model IEnumerable<MVCFilmTicketStore.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownloadPosterUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorFilms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Decription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poster)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DownloadPosterUrl)
                </td>
                <td>
                    @if (item.DirectorId != null)
                    {
                        <a asp-controller="Directors" asp-action="Details" asp-route-id="@item.DirectorId"> @Html.DisplayFor(modelItem => item.Director.FullName)</a>
                    }
                </td>
                <td>
                    @foreach (var actor in item.ActorFilms)
                    {
                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId"> @actor.Actor.FullName </a> <br />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
